<!DOCTYPE html>
<html>
  <head>
  	<title>Star Struck</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/master.css">
  </head>
  <body style="padding-top: 41px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              Star Struck
            </a>

            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/store">Store</a></li>
              <li><a href="/who-we-are">Who We Are</a></li>
              <li><a href="/links">Links</a></li>
            </ul>
        </div>
      </div>
    </div>


	<div class="jumbotron masthead">
  		<div class="container">
    		<h1>Star Struck</h1>
    		<p>You're out of this world</p>
    		<p>
      			<a href="/store" class="btn btn-large btn-warning">Get Started</a>
    		</p>
  		</div>
  	</div>
  </div>
  </body>
</html>
