<div class="masthead">
	<div class="container">
		<h1 style="color: black;">Our Team</h1>
		<p style="color: black;">We're passionate about stars</p>
	</div>
</div>

<div class="row">
	<div class="span12 about-us">
		<img src="/vendor/bootstrap/img/bk.png">
		<div class="container">
			<div class="span5">
				<h2>About</h2>
				<p>
					we are

				</p>
				<h2>Mission Statment</h2>
				<p>
We will work hard to provide star naming rights, viewing and tracking services, and novelty memorabilia to a broad customer base for their varying special interests and enjoyment.
				</p>
			</div>
			<div class="span4 offset1">
				<h2>Team</h2>
				<div>
					<strong>Javier</strong>
					<p>Dev.</p>
				</div>
				<div>
					<strong>Tony</strong>
					<p>Founder</p>
				</div>
				<div>
					<strong>Ernesto</strong>
					<p>Hr</p>
				</div>
				<div>
					<strong>Eric</strong>
					<p>Project Manager</p>
				</div>
				<div>
					<strong>Raymond</strong>
					<p>Founder</p>
				</div>

			</div>
		</div>
	</div>
</div>